<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>天哪，这都是什么</string>
	<string>hello</string>
	<string>Hello,我是涂婉丽</string>
	<string>同志们辛苦了，才怪呢，我更加辛苦</string>
	<string>今天我来写一个弹幕</string>
	<string>写弹幕真的是一件不容易的事情啊</string>
</array>
</plist>
